{% extends 'base.html.twig' %}
{% block title %}Профиль{% endblock %}
{% block body %}
	<style>
		.profile {
			display: flex;
			align-items: center;
			border-radius: 5px;
			overflow: hidden;
			background-color: transparent;
			width: 100%;
			height: 100%;
		}
		.profile button {
			width: 150px;
		}
		.profile-photo {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 5px;

		}
		.profile-photo img:hover {
			background-color: #ffffff;
			filter: brightness(70%);
		}
		.profile-photo img {
			width: 150px;
			height: 150px;
			border-radius: 15px;
			border: 2px solid;
			object-fit: cover;
			margin-bottom: 10px;
		}

		.profile-info {
			flex: 2;
    		border-left: 2px solid;
    		padding-left: 10px;
    		display: flex;
    		flex-direction: column;
    		align-items: center;
    		padding: 5px;
    		align-self: stretch;
		}
		.form
		{
			display: flex;
			width: 100%; /* Ширина формы занимает всю доступную ширину */
		}
		.form input
		{
			background-color: transparent; /* устанавливаем прозрачный цвет фона */
  			/* border: none; убираем границу */
  			outline: none; /* убираем обводку при фокусе */
			font-size: 18px; 
			padding: 0; 
			width:95%;
		}
		.form text
		{
			width: 95%;
		}
	</style>
	<div class="second-wrapper">
		<div class="profile">
			{{ form_errors(userForm) }}
			{{ form_start(userForm) }}
			<div class="profile-photo">
				<label for="upload-photo">
					<img id="user-photo" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Фото Пользователя">
				</label>
				<input type="file" id="upload-photo" style="display: none">
				{{ form_row(userForm.saveButton) }}
				<button id="cancelButton" style="display:none">Отмена</button>
				<button id="deleteButton" style="display:">Удалить</button>
			</div>
			<div class="profile-info">
				{{ form_widget(userForm.SecondName)}}
				{{ form_widget(userForm.FirstName)}}
				<text>Email:</text>
				{{ form_widget(userForm.Email) }}
				<text>Дата регистрации</text>
				{{ form_widget(userForm.RegisterDate) }}
				<text>Дата рождения</text>
				{{ form_widget(userForm.BirthDate) }}
				<text>Роли: </text>
				{{ form_widget(userForm.Roles)}}
			</div>
		</div>
		{{ form_end(userForm) }}
	</div>	
	<script>
		let editMode = false;
		function EditProfile() {
			let allInput = document.querySelectorAll("input");
			allInput.forEach(function(input) {
  			input.removeAttribute("readonly");
			});
			console.log(editMode);
			let editButton = document.getElementById("editButton");
			let cancelButton = document.getElementById("cancelButton");
			let deleteButton = document.getElementById("deleteButton");
			
			if(editMode == true) 
			{
				editButton.innerHTML = "Изменить данные";
				cancelButton.style.display = "none";
				deleteButton.style.display = "block"
				editMode = false;
				return;
			}
			if(editMode == false) 
			{
				editButton.innerHTML = "Сохранить";
				editMode = true;
				cancelButton.style.display = "block";
				deleteButton.style.display = "none"
				return;
			}
		}
		
	</script>
{% endblock %}
